@font-face {
  font-family: "iconfont"; /* Project id 3826557 */
  src: url('iconfont.woff2?t=1671019550311') format('woff2'),
       url('iconfont.woff?t=1671019550311') format('woff'),
       url('iconfont.ttf?t=1671019550311') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youjiantou:before {
  content: "\e624";
}

.icon-zuojiantou:before {
  content: "\e625";
}

.icon-sousuo:before {
  content: "\e651";
}

.icon-xiangyoujiantou:before {
  content: "\e65f";
}

.icon-xiangzuojiantou:before {
  content: "\e660";
}

.icon-huojian:before {
  content: "\e7c2";
}

